@using VMS.Web.Models
@{
    ViewBag.Title = "Auto Approval";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@Styles.Render("~/DataTablesCS")
@Scripts.Render("~/DataTablesJS")

<div class="row">
    <div class="col-md-12">
        <div class="box ShimanoBox">
            <div class="box-body">
                <div class="row">

                    <div class="col-md-12">

                        <div class="row">

                            <div class="col-md-2">
                                <div class="k-content">
                                    @Html.Label("Plant", "Plant")
                                    <select id="Plant" class="form-control" onchange="getData()">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>13</option>
                                    </select>
                                </div>
                                @*<div class="k-content">
                                        @Html.Label("Plant", "Plant")
                                        @Html.Kendo().DropDownList().Name("Plant").OptionLabel("Select Plant...").HtmlAttributes(new { style = "width: 100%", @class = "", data_required_msg = "Please Select the Plant" }).DataTextField("plantName").DataValueField("plantId").DataSource(source => { source.Read(read => { read.Action("getPlantList", "MasterData"); }); }).Events(e => e.Change("GenerateHisGrid")).Value(Session["UsePlant"].ToString())
                                    </div>*@
                            </div>
                            <div class="col-md-2">
                                <div class="k-content">
                                    @Html.Label("Department", "Department")
                                    <select id="Department" class="form-control" onchange="getData()">
                                        @*<option>1</option>
                                            <option>2</option>
                                            <option>13</option>*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div style="padding-top:25px">
                                    <button type="submit" class="btn btn-info" onclick="getData()"><i class="fa fa-info-circle"></i> Show</button>
                                    <button type="submit" class="btn btn-warning" onclick="funcModalUpload(`AutoApproval`)"><i class="fa fa-cloud-upload"></i> Import</button>
                                    <button type="submit" class="btn btn-success"><i class="fa fa-file-excel-o"></i> Export</button>
                                    <button type="button" class="btn btn-primary" onclick="AddEditVisitorType('0', '', '', '', '', 'Add');"><i class="fa fa-plus-circle"></i> Add Approval</button>
                                </div>
                            </div>
                        </div><br />
                        <hr />
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-bordered table-hover table-checkable" id="tblmmAutoApproval" style="margin-top: 13px !important">
                                    <thead>
                                        <tr style="color:white;background-color:#30505F;border-color:Transparent;font-weight:bold;">
                                            <th>No</th>
                                            <th>Plant</th>
                                            <th>Department</th>
                                            <th>Windows ID</th>
                                            <th>Username</th>
                                            <th>Update By</th>
                                            <th>Update Date</th>
                                            <th>Action</th>
                                            <th>ID</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div id="contact" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 class="modal-title" id="title">Auto Approval:</h3><label id="lblID" hidden="hidden"></label>
            </div>

            <form id="contact-form" class="form-horizontal modal-body" role="form">
                <div class="form-group">

                    <label class="control-label col-sm-3">Plant <sup style="color:red">*</sup></label>

                    <div class="col-sm-9">
                        <div>
                            <select id="ddlPlantModal" class="form-control" required onchange="dllWindowsIDModal();">
                                <option>1</option>
                                <option>2</option>
                                <option>13</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="form-group">

                    <label class="control-label col-sm-3">Department <sup style="color:red">*</sup></label>

                    <div class="col-sm-9">
                        <div>
                            <select id="ddlDepartmentModal" class="form-control" required>
                                <option>1</option>
                                <option>2</option>
                                <option>13</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="form-group">

                    <label class="control-label col-sm-3">Windows ID <sup style="color:red">*</sup></label>

                    <div class="col-sm-9">
                        <div>
                            <select id="ddlWindowsIDModal" class="form-control" required >
                                <option>1</option>
                                <option>2</option>
                                <option>13</option>
                            </select>
                        </div>
                    </div>

                </div>
                
                <div class="form-group">
                    <div class="text-right" style="padding-right:10px;">
                        <button type="submit" class="btn btn-success btn-md" id="btnLabel" onclick="funcSave();">Save! <i class="fa fa-save"></i></button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
@* MODALUPLOAD *@
<div class="modal fade" id="modalmasterupload" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdrop" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleMasterDataUpload">Upload</h5>
                <label style="display:none" id="lblMasterData"></label>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Choose file</label>
                    <div></div>
                    @*<div class="custom-file">
                            <input type="file" class="custom-file-input" id="uploadMasterFile" accept=".xlsx, .xls, .csv">
                            <label class="custom-file-label" for="customFile">Select a file</label>
                        </div>*@
                    <div class="dropzone dropzone-default dropzone-success dz-clickable">
                        <div class="dropzone-msg dz-message needsclick">
                            <input type="file" id="uploadMasterFile" accept=".xlsx, .xls, .csv">
                            @*<label class="custom-file-label" for="customFile">Select a file</label>*@
                            @*<h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                <span class="dropzone-msg-desc">Upload up to 10 files</span>*@
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" style="text-align:left">
                <button type="button" class="btn btn-info font-weight-bold" id="uploadMasterData" onclick="funcMasterUpload()">Upload</button>
                <button type="button" class="btn btn-light-danger font-weight-bold" data-dismiss="modal">Close</button>
                <a href="~/Uploads/Templates/TmpAutoApproval.xlsx">Template</a>
            </div>
        </div>
    </div>
</div>
@* END MODAL UPLOAD *@
<script>
    $(document).ready(function () {
        dllPlant();
        dllPlantModal();

        funcRenderTable();
        
        $('#Plant').change(function () {
            dllDepartment($(this).val());
        });
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });
</script>
<script>
    function getData() {
        var Plant = $('#Plant').val();
        var Department = $('#Department').val();
        $.ajax({
            url: "../MasterData/GetmmAutoApproval",
            method: "POST",
            dataType: "JSON",
            data: {
                Plant: Plant,
                Department: Department,
            },
            success: function (j) {
                console.log(j.xdataTable);
                tblmmAutoApproval.mDataTable.clear();
                $.each(j.xdataTable, function (i, st) {
                    tblmmAutoApproval.mDataTable.row.add(st);
                })
                tblmmAutoApproval.mDataTable.draw();
            },
            error: function (xhr, error, text) {
                toastr.error("Failed Query Get View Table, Please contact IT")
            }
        });
    }
</script>
<script>
    function funcRenderTable() {
        var table = "";
        var options = "";

        // begin first table
        options = {
            responsive: true,
            paging: true,
            
            columns: [
                { "data": "Number" },
                { "data": "Plant" },
                { "data": "Department" },
                { "data": "WindowsID" },
                { "data": "UserName" },
                { "data": "ChangeUser" },
                { "data": "ChangeDate" },
                { "data": null },
                { "data": "ID" },
            ],
            columnDefs: [
                {
                    targets: 7,
                    render: function (data, type, full, meta) {
                        var output = ``;
                        output = '<div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">'
                        output += '          <div class="btn-group mr-2" role="group" aria-label="First group">'
                        output += '             <button class="btn btn-info"  onclick="AddEditVisitorType(\'' + full.ID + '\', \'' + full.Plant + '\',\'' + full.Department + '\',\'' + full.WindowsID + '\',\'' + '\', \'Edit\')"><i class="fa fa-1x fa-plus"></i> Edit</button>'
                        output += '             <button class="btn btn-danger"  onclick="funcDelete(\'' + full.ID + '\')"><i class="la la-trash">Delete</i></button>'
                        output += '         </div>'
                        output += '        </div>'
                        return output;
                    },
                },
                {
                    targets: 8,
                    "visible": false
                },
            ],
        };

        table = $('#tblmmAutoApproval').DataTable(options);
        tblmmAutoApproval.mDataTable = table;


    }
</script>
<script>
    function dllPlant() {
        var DDLPlant = $('#Plant');
        DDLPlant.empty();
        $.ajax({
            url: '@Url.Action("getPlantList", "MasterData")',
            data: {
                //Plant: Plant,
            },
            cache: false,
            type: "POST",
            success: function (data) {
                console.log(data);
                //datas = data;
                var div = '';
                div = "<option selected value=''>All</option>"
                for (i = 0 ; i < data.length; i++) {
                    ////console.log(data[i].Dept);
                    //if (data[i].plantId === plantId)
                    //    div += "<option selected value='" + data[i].plantId + "'>" + data[i].plantName + "</option>"
                    //else
                    div += "<option value='" + data[i].plantId + "'>" + data[i].plantName + "</option>"
                }
                DDLPlant.append(div);
                dllDepartment($('#Plant').val());
            },
            error: function (reponse) {
                toastr.error("Please contact IT administrator", "ERROR!");
            }
        });
    }
    function dllDepartment(Plant) {
        var DDLDepartment = $('#Department');
        DDLDepartment.empty();
        $.ajax({
            url: '@Url.Action("GetDepartmentApprovalLevelDDList", "MasterData")',
            data: {
                Plant: Plant,
            },
            cache: false,
            type: "POST",
            success: function (data) {
                //console.log(data);
                //datas = data;
                var div = '';
                div = "<option selected value=''>All</option>"
                for (i = 0 ; i < data.length; i++) {
                    ////console.log(data[i].Dept);
                    //if (data[i].plantId === plantId)
                    //    div += "<option selected value='" + data[i].plantId + "'>" + data[i].plantName + "</option>"
                    //else
                    div += "<option value='" + data[i].Dept + "'>" + data[i].DeptName + "</option>"
                }
                DDLDepartment.append(div);
                getData();
            },
            error: function (reponse) {
                toastr.error("Please contact IT administrator", "ERROR!");
            }
        });
    }
    function dllWindowsIDModal(winid) {
        var Plant = $('#ddlPlantModal').val();
        var DDLDepartment = $('#ddlWindowsIDModal');
        DDLDepartment.empty();
        $.ajax({
            url: '@Url.Action("GetWindowsIDDDList", "MasterData")',
            data: {
                Plant: Plant,
            },
            cache: false,
            type: "POST",
            success: function (data) {
                //console.log(data);
                //datas = data;
                var div = '';
                div = "<option selected value=''>Select Windows ID</option>"
                for (i = 0 ; i < data.length; i++) {
                    ////console.log(data[i].Dept);
                    if (data[i].Dept === winid)
                        div += "<option selected value='" + data[i].Dept + "'>" + data[i].DeptName + "</option>"
                    else
                    div += "<option value='" + data[i].Dept + "'>" + data[i].DeptName + "</option>"
                }
                DDLDepartment.append(div);
                //if (winid != null)
                //{
                //    $("#ddlWindowsIDModal").select2({ width: '100%' }).val(""+ winid +"").trigger('change.select2');
                //}
                
            },
            error: function (reponse) {
                toastr.error("Please contact IT administrator", "ERROR!");
            }
        });
    }
</script>
<script>
    function dllPlantModal(plant) {
        var DDLPlant = $('#ddlPlantModal');
        DDLPlant.empty();
        $.ajax({
            url: '@Url.Action("getPlantList", "MasterData")',
            data: {
                //Plant: Plant,
            },
            cache: false,
            type: "POST",
            success: function (data) {
                console.log(data);
                //datas = data;
                var div = '';
                div = "<option selected value=''>Select Plant</option>"
                for (i = 0 ; i < data.length; i++) {
                    console.log(data[i].plantId);
                    if (data[i].plantId == plant)
                        div += "<option selected value='" + data[i].plantId + "'>" + data[i].plantName + "</option>"
                    else
                    div += "<option value='" + data[i].plantId + "'>" + data[i].plantName + "</option>"
                }
                DDLPlant.append(div);
                //dllDepartmentModal($('#ddlPlantModal').val());

            },
            error: function (reponse) {
                toastr.error("Please contact IT administrator", "ERROR!");
            }
        });
    }
    function dllDepartmentModal(Plant, dept) {
        var DDLDepartment = $('#ddlDepartmentModal');
        DDLDepartment.empty();
        $.ajax({
            url: '@Url.Action("GetDepartmentApprovalLevelDDList", "MasterData")',
            data: {
                Plant: Plant,
            },
            cache: false,
            type: "POST",
            success: function (data) {
                //console.log(data);
                //datas = data;
                var div = '';
                div = "<option selected value=''>Select Department</option>"
                for (i = 0 ; i < data.length; i++) {
                    console.log(data[i].Dept);
                    if (data[i].Dept === dept)
                        div += "<option selected value='" + data[i].Dept + "'>" + data[i].DeptName + "</option>"
                    else
                    div += "<option value='" + data[i].Dept + "'>" + data[i].DeptName + "</option>"
                }
                DDLDepartment.append(div);
                //dllWindowsIDModal('');
            },
            error: function (reponse) {
                toastr.error("Please contact IT administrator", "ERROR!");
            }
        });
    }
</script>
<script>
    function AddEditVisitorType(Id, plant, department, winID, remark, btnName) {
        //console.log(Id,plant, department,winID,remark, btnName);
        $("#contact").modal("show");
        if (Id == 0) {
            //console.log(Id, plant, department, winID, remark, btnName);
                $("#title").html("Add Auto Approval");
                $('#lblID').text(Id);
                $("#btnLabel").html("Save");
            
            $("#ddlDepartmentModal").select2({ width: '100%'}).val('').trigger('change.select2');
            $("#ddlPlantModal").select2({ width: '100%'}).val('').trigger('change.select2');
            $("#ddlWindowsIDModal").select2({ width: '100%' }).val('').trigger('change.select2');
            
            }
        else {
            //console.log(Id, plant, department, winID, remark, btnName);
            $("#title").html("Edit Auto Approval");
            $('#lblID').text(Id);
            $("#btnLabel").html("Update");

            //$("#ddlPlantModal").select2({ width: '100%' }).val("" + plant + "").trigger('change.select2');
            $("#ddlDepartmentModal").select2({ width: '100%' }).val("" + department + "").trigger('change.select2');
            $("#ddlWindowsIDModal").empty();
            dllPlantModal(plant);
            dllDepartmentModal(plant, department);
            dllWindowsIDModal(winID);
            //$("#ddlWindowsIDModal").select2({ width: '100%' }).val("" + winID + "").trigger('change.select2');
            //$("#ddlWindowsIDModal").select2().select2("val", winID);
            //$("#RemarksModal").val('');
            //$("#PlantModal").attr("disabled", false);
            //$("#VisitorTypeModal").attr("disabled", false);
            //$("#DepartmentModal").attr("disabled", false);
            @*$("#@Html.IdFor(model => model.Id)").val(0);
            $("#@Html.IdFor(model => model.VisitorType)").val("".VisitorType);
            $("#@Html.IdFor(model => model.NeedApprove)").data("kendoComboBox").select(-1);
            $("#@Html.IdFor(model => model.NeedMailAlert)").data("kendoComboBox").select(-1);
            $("#@Html.IdFor(model => model.AllowUnknown)").data("kendoComboBox").select(-1)*@
            }
    }
</script>
<script>
    function funcSave() {
        var xPlant = $('#ddlPlantModal').val();
        var xDepartmentModal = $('#ddlDepartmentModal').val();
        var xWindowsIDModal = $('#ddlWindowsIDModal').val();
        console.log(xPlant + ', ' + xDepartmentModal + ', ' + xWindowsIDModal );
        //return false;
        if (xWindowsIDModal == "") {
            toastr.error("Please Select windowsID")
        } else {
            $("#btnLabel").attr("disabled", true);
            $.ajax({
                url: "../MasterData/SaveAutoApproval",
                method: "POST",
                dataType: "JSON",
                data: {
                    ID: $('#lblID').text(),
                    Plant: xPlant,
                    Department: xDepartmentModal,
                    WindowsID: xWindowsIDModal,
                },
                success: function (j) {
                    console.log(j);
                    if (j.Success == true) {
                        //toastr[j.Data[0][0].Status](j.Data[0][0].Message)
                        toastr.success("Data Successfully Insert / Update.")
                        $('#contact').modal('hide');
                        getData();
                    }
                    else {
                        toastr.error("Failed execution, Please contact IT")
                    }
                    $("#btnLabel").attr("disabled", false);
                },
                error: function (xhr, error, text) {
                    toastr.error("Failed Query Add/Update, Please contact IT")
                    $("#btnLabel").attr("disabled", false);
                }
            });

        }
    }
    function funcDelete(id) {
        Swal.fire({
            title: 'Are you sure!',
            text: "Do you want to detele this item?",
            icon: 'question',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes'
        }).then((result) => {
            console.log(result.value);
            if (result.value == true) {
                $.ajax({
                    url: "../MasterData/DeleteAutoApprovalByID",
                    method: "POST",
                    dataType: "JSON",
                    data: {
                        ID: id,
                    },
                    success: function (j) {
                        if (j.Success == true) {
                            toastr.success(j.Message)
                            getData();
                        }
                        else {
                            toastr.error("Delete Fail, Please contact IT")
                        }
                    },
                    error: function (xhr, error, text) {
                        toastr.error("Failed Query Delete, Please contact IT")
                    }
                });
            }
            else {
                toastr.error("ID Not Found, Please reload this page or contact IT")
            }
            
        })
    }
</script>
<script>
    function funcModalUpload(xMasterData) {
        $('#lblMasterData').html(xMasterData)
        $('#titleMasterDataUpload').html("Upload " + xMasterData)
        $('#uploadMasterFile').val("")
        $('#uploadMasterFile').next('label').html('Select a file');
        $('#modalmasterupload').modal('show')

    }
</script>
<script>
    function funcMasterUpload() {
        var file = document.getElementById("uploadMasterFile").files[0];
        var xMasterData = $('#lblMasterData').html();
        var fileData = new FormData();
        fileData.append('File', file);
        fileData.append('MasterData', xMasterData);

        if (file != null && file != 'undefined') {
            $("#uploadMasterData").attr("disabled", true);
            $.ajax({
                url: "../MasterData/PostUploadAutoApproval",
                method: "POST",
                contentType: false,
                processData: false,
                data: fileData,
                success: function (j) {
                    if (j.Result == true) {
                        toastr[j.Data[0][0].Status](j.Data[0][0].Message)
                        if (j.Data[0][0].Status == "success") {
                            //HIDE MODAL UPLOAD
                            $('#modalmasterupload').modal('hide')
                            //LOAD MASTER DATA
                            if (xMasterData == "AutoApproval") {
                                funcGetCategory()
                            } else if (xMasterData == "Manage Group") {
                                funcGetManageGroup()
                            } else if (xMasterData == "Subcategory") {
                                funcGetSubCategory()
                            } else if (xMasterData == "Leader") {
                                funcGetLineLeader()
                            } else if (xMasterData == "EmpvsLeader") {
                                funcGetEmpvsLeader()
                            } else if (xMasterData == "EmpvsProcess") {
                                funcGetEmpVSProcess()
                            } else if (xMasterData == "ProcessvsCategory") {
                                funcGetProcessVSCategory()
                            } else if (xMasterData == "SettingUser") {
                                funcGetUser()
                            } else if (xMasterData == "Exam") {
                                funcSearch()
                            } else if (xMasterData == "Result Exam") {
                                funcGetTMPExamination()
                            }
                        }
                    }
                    else {
                        toastr.error("Upload Master data " + j.Msg + ", Please contact IT")
                    }
                    $("#uploadMasterData").attr("disabled", false);
                },
                error: function (xhr, error, text) {
                    toastr.error("Failed Query upload, Please contact IT" + xhr)
                    $("#uploadMasterData").attr("disabled", false);
                }
            });
        } else {
            toastr.error("Please choose file")
        }
    }
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" />
@*<link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />*@
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
@*<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>*@
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript">
        $(function () {
            $("#Department").select2();
            $("#Plant").select2();
            $("#ddlDepartmentModal").select2({ width: '100%' });
            $("#ddlPlantModal").select2({ width: '100%' });
            $("#ddlWindowsIDModal").select2({ width: '100%' });
        });
</script>